@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-btn {
    @apply text-maincolor cursor-pointer rounded-lg p-1.5 transition-all duration-200 hover:bg-stone-200;
  }

  .text-gradient {
    @apply inline-block bg-gradient-to-b from-[#2c553d] via-[#2BE977] via-50% to-[#063a1b] bg-clip-text font-bold text-transparent selection:text-main;
  }

  .text-gradient-sec {
    background: #71f4a5;
    background: radial-gradient(
      ellipse farthest-side at right center,
      #71f4a5 32%,
      #0bcb58 79%,
      #39f785 100%
    );

    @apply bg-clip-text text-transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-sec::selection {
    color: #f5f5f4;
  }
}

* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
  --theme-background-color: rgb(225, 225, 225);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-background-color: rgb(56, 55, 54);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0bcb58;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #055f29;
}

html {
  scroll-behavior: smooth;
}
