@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-btn {
    @apply text-maincolor cursor-pointer rounded-lg p-1.5 transition-all duration-200 hover:bg-stone-200;
  }

  .text-gradient {
    @apply inline-block bg-gradient-to-b from-[#2c553d] via-[#2BE977] via-50% to-[#063a1b] bg-clip-text font-bold text-transparent selection:text-main;
  }

  .text-gradient-sec {
    background: #71f4a5;
    background: radial-gradient(
      ellipse farthest-side at right center,
      #71f4a5 32%,
      #0bcb58 79%,
      #39f785 100%
    );

    @apply bg-clip-text text-transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
  --theme-background-color: rgb(225, 225, 225);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-background-color: rgb(56, 55, 54);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0bcb58;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #055f29;
}

html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #2be977;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #0bcb58;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
